### Import libraries.

In [1]:
import pandas as pd

### Load the data.

In [13]:
df = pd.read_csv('../data/cuisines.csv')
df.head()

,id,cuisine,ingredients,no_ingredients,ingredients_str
0,10259,greek,"['romaine lettuce', 'black olives', 'grape tom...",9,"romaine lettuce, black olives, grape tomatoes,..."
1,25693,southern_us,"['plain flour', 'ground pepper', 'salt', 'toma...",11,"plain flour, ground pepper, salt, tomatoes, gr..."
2,20130,filipino,"['eggs', 'pepper', 'salt', 'mayonaise', 'cooki...",12,"eggs, pepper, salt, mayonaise, cooking oil, gr..."
3,22213,indian,"['water', 'vegetable oil', 'wheat', 'salt']",4,"water, vegetable oil, wheat, salt"
4,13162,indian,"['black pepper', 'shallots', 'cornflour', 'cay...",20,"black pepper, shallots, cornflour, cayenne pep..."

### Define the class for each cuisine.

In [6]:
classes = { 
            'moroccan':1, 'indian':2, 'vietnamese':3, 
            'cajun_creole':4, 'thai':5, 'jamaican':6,
            'chinese':7, 'korean':8, 'mexican':9, 'spanish':10, 
            'russian':11, 'greek':12, 'filipino':13, 'italian':14, 
            'french':15, 'japanese':16, 'british':17, 
            'southern_us':18, 'brazilian':19, 'irish':20
            }

### Save original dataframe.

In [8]:
df_original = df

### Replace names of the cuisines with categorical values, 1-20.

In [14]:
df['cuisine'] = df['cuisine'].map(classes)
df.head()

,id,cuisine,ingredients,no_ingredients,ingredients_str
0,10259,12,"['romaine lettuce', 'black olives', 'grape tom...",9,"romaine lettuce, black olives, grape tomatoes,..."
1,25693,18,"['plain flour', 'ground pepper', 'salt', 'toma...",11,"plain flour, ground pepper, salt, tomatoes, gr..."
2,20130,13,"['eggs', 'pepper', 'salt', 'mayonaise', 'cooki...",12,"eggs, pepper, salt, mayonaise, cooking oil, gr..."
3,22213,2,"['water', 'vegetable oil', 'wheat', 'salt']",4,"water, vegetable oil, wheat, salt"
4,13162,2,"['black pepper', 'shallots', 'cornflour', 'cay...",20,"black pepper, shallots, cornflour, cayenne pep..."

### Prepare X (feature) and y (target).